@media (min-width: 768px){
    .container {
        width: 518px !important;
    }
}
@media (min-width: 992px){
    .container {
        width: 742px !important;
    }
}
@media (min-width: 1200px){
    .container {
        width: 949px !important;
    }
}
